@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
}
h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

p,
span,
label,
button,
input {
    font-family: 'Poppins', sans-serif;
}

button {
    font-size: 18px;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.app {
    height: 100vh;
}

.error-message {
    color: #cc0000;
}
