@import url('https://fonts.googleapis.com/css?family=Marvel');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

h1,
h2 {
    font-family: 'Nixie One', cursive;
}

p,
span,
label,
button,
input {
    font-family: 'Marvel', sans-serif;
}

button {
    font-size: 18px;
}
